:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
